<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Confirmation</title>
    <th:block th:replace="~{fragments/styles :: head}"></th:block>
</head>
<body>
<div class="content">
    <th:block th:replace="~{fragments/logo :: logo}"></th:block>

    <div class="header">Password Successfully Reset</div>

    <p>Dear <span th:text="${firstName} + ' ' + ${lastName}"></span>,</p>

    <p>Your password has been successfully updated.</p>

    <p>If you made this change, no further action is required and you can continue using your account normally.</p>

    <p>If you did <strong>not</strong> change your password, please contact our support team immediately as your account
        may be compromised.</p>

    <p>Best regards,<br/>Medicore Clinic Team</p>

    <th:block th:replace="~{fragments/footer :: footer}"></th:block>

</div>
</body>
</html>