.footer {
    background-color: #f8f9fa;
    padding: 1rem 1rem;
    text-align: center;
    color: #6c757d;

    width: 100%;
    margin-top: auto;
}

.footer-text {
    margin: 0;
    font-size: 0.9rem;
}

@media (max-width: 480px) {
    .footer-text {
        font-size: 0.8rem;
    }
}