<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
    <th:block th:replace="~{fragments/styles :: head}"></th:block>
</head>
<body>
<div class="content">
    <th:block th:replace="~{fragments/logo :: logo}"></th:block>

    <div class="header">Password Reset Request</div>

    <p>Dear <span th:text="${firstName} + ' ' + ${lastName}"></span>,</p>

    <p>We received a request to reset your password. To proceed, please click the button below:</p>

    <th:block th:replace="~{fragments/url-button :: url-button(${url}, 'Reset Password')}"></th:block>

    <p>If you did not request a password reset, please ignore this email. Your account remains secure.</p>

    <p>Best regards,<br/>Medicore Clinic Team</p>

    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</div>
</body>
</html>