<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upcoming Appointment Reminder</title>
    <th:block th:replace="~{fragments/styles :: head}"></th:block>
</head>
<body>
<div class="content">
    <th:block th:replace="~{fragments/logo :: logo}"></th:block>

    <div class="header">Upcoming Appointment Reminder</div>

    <p>Dear <span th:text="${patientFirstName} + ' ' + ${patientLastName}"></span>,</p>
    <p>This is a friendly reminder of your upcoming appointment:</p>

    <th:block
            th:replace="~{fragments/appointment-details :: appointment-details(
        ${patientFirstName},
        ${patientLastName},
        ${doctorFirstName},
        ${doctorLastName},
        ${specialization},
        ${date},
        ${time})}">
    </th:block>

    <p>Please arrive 10 minutes before your scheduled time. If you need to reschedule, contact our office as soon as
        possible.</p>

    <p>We look forward to seeing you soon!</p>

    <p>Best regards,<br/>Medicore Clinic Team</p>

    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</div>
</body>
</html>